{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2 style="color: white; font-size: 40px;">Add Product Page</h2>
<div class="product-container">
<p>Hi, {{ username }} fill out the form below to add Products for your online store.</p>
<form action="/addproduct" method = "POST">
	<p><h2>Add Product:</h2> 
	<div class="search-input">
		<p>Product Name <input type="text" name = "name" /></p>
		<p>Product Description <input type = "text" name = "description" /></p>
		<p>Product Price <input type = "text" name = "price" /></p>
		<p>Product Quantity <input type = "text" name = "quantity" /></p>
	</div>
	

{#    add a place where the user can enter the URL of a photo they would like to use for the product#}
    <p>Product Photo URL <input type = "text" name = "img_link" /></p>

	<button class="search-button" type="submit">Add Product</button>
</form>
<h2> {{ msg }} </h2>
</div>
<div class="section">
    <h2>@Copyright Database Group 7</h2>
</div>
{% endblock %}