{% extends 'layout.html' %}

{% block title %}Products{% endblock %}

{% block content %}


<div class="product-list">
    {% for product in all_products %}
        <div class="product">
            <a href="/product_details/{{product.product_id}}"><img src="{{ product.img_link }}" alt="{{ product.name }}"></a>
            <a href="/product_details/{{product.product_id}}"><h2>{{ product.name }}</h2></a>
            <h3>Seller: {{ product.seller.name }}</h3>
            <p>{{ product.description }}</p>
            <p>Quantity: {{ product.product_quantity }}</p>

            <form action="{{ url_for('add_to_order', product_id=product.product_id) }}" method="post">

            <button class="price-button" type="submit">Add: ${{ product.price }}</button>
            </form>
            <!-- Add more details as needed -->
        </div>
    {% endfor %}
</div>
{#</form>#}
<div class="section">
    <h2>@Copyright Database Group 7</h2>
</div>

{% endblock %}


