{% extends 'layout.html' %}

{% block title %}CART{% endblock %}

{% block content %}
<h2>CART Page</h2>

<div class="cart-list">
    {% for product in orderItems %}
        <div class="product">
            <img src="{{ product.img_link }}" alt="{{ product.name }}">
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <p>Price: ${{ product.price }}</p>
            <p>Quantity: {{ product.product_quantity }}</p>
        </div>
    {% endfor %}
</div>


<div class="total">
    <h2>Subtotal: ${{ subtotal }}</h2>
    <h2>Tax: ${{ tax }}</h2>
    <h2>Shipping: ${{ shipping }}</h2>
    <h2>Total: ${{ total }}</h2>
</div>



<a href="{{ url_for('purchase', ord_id=order_id)}}" target="_blank">
    <button>Complete Purchase</button>
</a>


{% endblock %}
