{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Product Search Page</h2>
<p>Hi, {{ username }} fill out the form below to search for Products.</p>
<form action="/search" method = "POST">
	<p><h2>Product Search:</h2> 
	<p>Proudct Name <input type="text" name = "name" /></p>
	<p>Product ID <input type = "integer" name = "product_id" /></p>
	<p>Seller ID <input type = "integer" name = "seller_id" /></p>
	<p><input type = "submit" value = "Submit" /></p>
</form>
{% endblock %}