{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}


<div class="homeimage"> 
    <img class="logo" src="{{ url_for('static', filename='bplogo.png') }}" alt="Beedle Prime Logo">
</div>


<div class="section">
    <h2>Welcome</h2>
    <div class="search-container">
    
        <form action="/searchbar" method="POST">
            <input class="search-input" type="text" name = "name" placeholder="Search..."/>
            <button class="search-button" type="submit">Search</button>
        </form>
    </div>
    <!-- <p>company image</p> -->
</div>

<div class="section">
    <h2>Products</h2>
{#    Horizontal list of 5 products #}

<div class="product-list">
    {% for product in data %}
        <div class="product">
            <img src="{{ product.img_link }}" alt="{{ product.name }}">
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <p>Quantity: {{ product.product_quantity }}</p>
            <button class="price-button">Add: ${{ product.price }}</button>
            
            <!-- Add more details as needed -->
        </div>
    {% endfor %}
</div>
</div>

<div class="section">
    <h2>Section 3</h2>
    <p>Content for section 3 goes here.</p>
</div>


{#<h2>Home Page</h2>#}


{#<p>Welcome back, {{ username }}!</p>#}
{#<a href="{{ url_for('searchproductform') }}">Product Search</a>#}
{#<br />#}
{##}
{#<h3>Products</h3>#}
{#    <form action="{{ url_for('add_to_order', product_id='1') }}" method="post">#}
{#          <input type="number" name="quantity" value="1" min="1">#}
{#          <input type="submit" value="Add to Order">#}
{#        </form>#}
{#</form>#}
{#<h3>Cart</h3>#}
{##}
{#<a href="{{ url_for('cart', c_id=c_id) }}">OPEN CART</a>#}
{% endblock %}

{% block sidebar %}

{% endblock %}
