{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}


<div class="homeimage"> 
    <img class="logo" src="{{ url_for('static', filename='bplogo.png') }}" alt="Beedle Prime Logo">
</div>


<div class="section">
    <h2>Welcome {{username}}</h2>
    <div class="search-container">
    
        <form action="/searchbar" method="POST">
            <input class="search-input" type="text" name = "name" placeholder="Search..."/>
            <button class="search-button" type="submit">Search</button>
        </form>
    </div>
</div>

<div class="section">
    <h2>Products</h2>
{#    Horizontal list of 5 products #}

<div class="product-list">
    {% for product in data %}
    {% if product.product_quantity > 0 %}
        <div class="product">
            <a href="/product_details/{{product.product_id}}"><img src="{{ product.img_link }}" alt="{{ product.name }}"></a>
            <a href="/product_details/{{product.product_id}}"><h2>{{ product.name }}</h2></a>
            <h3>Seller: {{ product.seller.name }}</h3>
            <p>{{ product.description }}</p>
            <p>Quantity: {{ product.product_quantity }}</p>
            <form action="{{ url_for('add_to_order', product_id=product.product_id) }}" method="post">

                <button class="price-button" type="submit">Add: ${{ product.price }}</button>
                </form>
            <!-- Add more details as needed -->
        </div>
        {% endif %}
    {% endfor %}
</div>
</div>

<div class="section">
    <div class="homeimage"> 
        <img class="logo" src="{{ url_for('static', filename='databaseproject.jpg') }}" alt="Beedle Prime Team">
    </div>
    <h2>@Copyright Database Group 7</h2>
</div>


{#<h2>Home Page</h2>#}


{#<p>Welcome back, {{ username }}!</p>#}
{#<br />#}
{##}
{#<h3>Products</h3>#}
{#    <form action="{{ url_for('add_to_order', product_id='1') }}" method="post">#}
{#          <input type="number" name="quantity" value="1" min="1">#}
{#          <input type="submit" value="Add to Order">#}
{#        </form>#}
{#</form>#}
{#<h3>Cart</h3>#}
{##}
{#<a href="{{ url_for('cart', c_id=c_id) }}">OPEN CART</a>#}
{% endblock %}

{% block sidebar %}

{% endblock %}
