
{% extends 'layout.html' %}

{% block title %}Product Page{% endblock %}

{% block content %}
  <div class="product-container">
    <div class="product-details">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <p>Price: ${{ product.price }}</p>
      <p>Available Quantity: {{ product.product_quantity }}</p>
    </div>
    <div class="seller-details">
      <h3>Seller: {{ product.seller.name }}</h3>
      <p>Contact: {{ product.seller.contact_info }}</p>
    </div>
  </div>
{% endblock %}