
{% extends 'layout.html' %}

{% block title %}Product Page{% endblock %}

{% block content %}
  <div class="product-container">
    <div class="product-details">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <p>Price: ${{ product.price }}</p>
      <p>Available Quantity: {{ product.product_quantity }}</p>
    </div>
    <div class="seller-details">
      <h3>Seller: {{ product.seller.name }}</h3>
      <p>Contact: {{ product.seller.email }}</p>
      <p>Shipping From: <br> {{ product.seller.street }} <br> {{ product.seller.city }}, {{ product.seller.state }}, {{ product.seller.zipcode }}</p>
    </div>

    <div class="product-image">
      <img src="{{ product.img_link }}" alt="product image">
    </div>
  <div>
        <form action="{{ url_for('add_to_order', product_id=product.product_id) }}" method="post">
            <label>
                <input class="search-input" type="number" name="quantity" value="1" min="1" max="{{product.product_quantity}}">
            </label>
            <button class="search-button" type="submit">Add to Order</button>
        </form>
  </div>
  </div>
  <div class="section">
    <h2>@Copyright Database Group 7</h2>
</div>
{% endblock %}