
{% extends 'layout.html' %}

{% block title %}Product Page{% endblock %}

{% block content %}
  <div class="product-container">
    <div class="product-details">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <p>Price: ${{ product.price }}</p>
      <p>Available Quantity: {{ product.product_quantity }}</p>
    </div>
    <div class="seller-details">
      <h3>Seller: {{ product.seller.name }}</h3>
      <p>Contact: {{ product.seller.contact_info }}</p>
    </div>

    <div class="product-image">
      <img src="{{ product.image }}" alt="product image">
    </div>
  <div>
        <form action="{{ url_for('add_to_order', product_id=product.product_id) }}" method="post">
          <input type="number" name="quantity" value="1" min="1">
          <input type="submit" value="Add to Order">
        </form>
</form>
  </div>
  </div>
{% endblock %}