{% extends 'layout.html' %}

{% block title %}Purchase Details{% endblock %}

{% block content %}
    <h1>Thank you for your purchase</h1>
    <p>Shop logo</p>



<div class="product-list">
    {% for item in purchase_items %}
        <div class="product">
            <img src="{{ item.product.img_link }}" alt="{{ item.product.name }}">
            <h2>{{ item.product.name }}</h2>
            <p>{{ item.product.description }}</p>
            <p>Price: ${{ item.product.price }}</p>
            <p>Quantity: {{ item.quantity }}</p>
        </div>
    {% endfor %}
</div>

    <h2>Total cost: {{ purcahse_total_price }}</h2>







{% endblock %}
