{% extends 'layout.html' %}

{% block title %}Seller Home{% endblock %}

{% block content %}
<h2>Seller Home Page</h2>
<p>Welcome back, {{ username }}!</p>
<a href="{{ url_for('addproduct') }}">Click to add Products</a>
<p></p>
<p1> Your Products Listed</p1>
<table border="1" cellpadding="5" cellspacing="5">
    <tr><th>Product ID</th><th>Product Name</th><th>Description</th><th>Price</th><th>Quantity</th><th>Product Image</th></tr>
    {% for row in data %}
    <tr>
        <td>{{row.product_id}}</td>
        <td><a href="{{ url_for('product_details', p_id=row.product_id) }}">{{row.name}}</a></td>
        <td>{{row.description}}</td>
        <td>{{row.price}}</td>
        <td>{{row.product_quantity}}</td>
        <td><img src="{{ row.img_link }}" width="20%"/></td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}